.background {
    background-image: url('/assets/background.jfif');
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1px;
    background-color: rgba(0, 0, 0, 0.863);
    /* Color gris */
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(0, 0, 0);
}

.info {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.438);
    /* Barra transparente */
    border-radius: 10px;
}

h1 {
    font-size: 3em;
    /* Tamaño grande para el título */
    margin: 0;
}

button {
    margin: 10px;
}